@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gloria+Hallelujah&family=Notable&family=Odibee+Sans&family=Roboto&family=Roboto+Serif:ital,opsz,wght@0,8..144,200;1,8..144,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/web1.jpg);
    background-size: cover;
}

header{
    margin: 30px;
    padding: 10px;
    margin-left: 200px;
    margin-top: 100px;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    color: #35100d;
}

.container{
    margin: 25px;
    padding: 5px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    margin-left: 245px;
    margin-top: -10px;
    color: #35100d;
}

#textarea{
   width: 600px;
   margin-top: 30px;
   margin-left: 70px;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 1px 2px 5px #35100d;
}

#btn{
    display: flex;
    margin-left: 710px;
    margin-top: -27px;
    padding: 5px;
    width: fit-content;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto Serif', serif;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(128, 128, 128, 0.701);
}

#btn:hover{
    background-color: #35100d;
    color: white;
}

@media (max-width: 844px){
    body{
    background-image: url(img/web1.jpg);
    background-size: cover;
    background-position: center;
    }
}

